<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Image</th>
      <th scope="col">Name</th>
      <th scope="col">Type</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let p of pokemon">
      <th scope="row">{{ p.id }}</th>
      <td><img [src]="getImageUrl(p.id)" [alt]="p.name" class="sprite" /></td>
      <td>{{ p.name }}</td>
      <td>{{ p.types.join(", ") }}</td>
      <td>
        <button
          type="button"
          class="btn btn-primary"
          (click)="onCaughtClicked(p)"
        >
          {{ actionLabel }}
        </button>
      </td>
    </tr>
  </tbody>
</table>
