<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Type</th>
      <th scope="col">Caught</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let p of pokemon; index as i">
      <th scope="row">{{ i }}</th>
      <td>{{ p.name }}</td>
      <td>{{ p.type }}</td>
      <td>
        <button
          type="button"
          class="btn btn-primary"
          (click)="onCaughtClicked(p)"
        >
          Caught!
        </button>
      </td>
    </tr>
  </tbody>
</table>
